.main-div{
    /* background-image: url("https://th.bing.com/th/id/OIP.G8wzh3VyKVL7NbDb2I4JiQAAAA?pid=ImgDet&rs=1"); */
    background-size: auto;
     width:100%;
     height: 700px;
     background-repeat: no-repeat;
     background-size: 100%;
     display: block;
     background-color: rgb(4, 4, 4);
     /* padding: 0px 0px 0px 0px; */
}
.sub-div{
    background-color: azure;
    color: black;
     align-items: center;
    width: 100%;
    height: 520px;
    margin-top: 490px;
    margin-left: 0%;
    margin-right: 0%;
    /* padding-left: 70px; */
    /* margin-left: 80px;
    /* margin-top: 90px;  */
    /* text-align: center;
    text-justify: 30px; */ 
}
.heading-1{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    font-size: 60px;

}

.home{
    margin-top: 90px;
    background-image: url("https://images.freekaamaal.com/post_images/1572680048.png");
     background-repeat: no-repeat;
  
     background-size: 100%;
     
    position: relative;
    /* width:100%;
    height:100vh; */
  
    justify-content: space-between;
    font-weight: 500;
     display:flex;
     align-items: center;
     padding: 50px 10% 0%;
    
}
.home-content{
    width:70%;
    height: 70%;
     background-color: rgb(77, 77, 80);
}
.home-content h1{
    padding-left: 20px;
    font-size: 32px;
    font-weight: 700;
    margin:-3px 0;
    
}
.home-content h1 span{
    color:rgb(58, 168, 198);
}
.home-content h3{
    padding-left: 20px;
    padding-top: 20px;
   font-size: 32px;
   font-weight: 700px;
}

.home-content p{
   padding-left: 20px;
   font-size: 20px;
   color:rgb(220, 250, 246);
   font-weight: 900;
   font:bold;

}
.line{
    width: 920px;
}
.img-1{
    height: 80px;
    width: 50;
    
    padding-top: 20px;
}
.home-sec{
   display: inline-flex;
   justify-content: center;

   align-items: center;
   width:40px;
   height:40px;
   background: transparent;
  
   text-decoration: none;
   margin:30px 15px 30px 0;
   border-radius: 50%;
   
}

 .home-sec img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width:80px;
    height:90px;
    margin-left: 30px;
    /* margin:30px 20px 30px 0px; */
    background-color: black;
   
 } 

 .home-sec img:hover{
     box-shadow: 0 0 5px #0ef,
     0 0 25px #0ef, 0 0 50px #0ef,
     0 0 100px #0ef, 0 0 200px #0ef
 }

 .bt-1{
    /* padding-left: 20px; */
    align-items: center;
    position:absolute;
    top:64%;
    left: 180px;
    background-color: rgb(20, 18, 18);
    color:rgb(135, 129, 129);
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
 }

 .sec-1{
    color: black;
 }
 .span-1{
    animation: blinker .75s linear infinite;
            color: rgb(225, 52, 193);
            font-family: sans-serif;
    font-size: 30px;
    /* color: deeppink; */
    border-radius: 0px solid white;
    background: transparent;
 }

 @keyframes blinker {
    50% {
        opacity: 0;
    }
}

.row {
    color: #fff;
    margin-left: 20px;
  }
  
  .row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row-posters::-webkit-scrollbar {
    display: none;
  }
  
  .row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 190px;
    transition: transform 450ms;
    margin-right: 10px;
  }
  
  .row-poster:hover {
    transform: scale(1.08);
  }
  
  .row-posterLarge {
    max-height: 250px;
  }
  
  .row-posterLarge:hover {
    transform: scale(1.09);
  }
 
  @media (max-width: 768px) {
    /* CSS rules for screens smaller than 768px wide */
    .main-div{
      height: 50px;
      width:100px;
    }

  }
  
  

  
